/* .App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  margin-top: 20px;
} */



.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  margin-top: 20px;
  width: 100%;
}

.uploaded-image {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

.about {
  margin-top: 20px;
  text-align: left;
  max-width: 600px;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about p {
  font-size: 18px;
  line-height: 1.6;
}
